html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #111;
    background: linear-gradient(to bottom, #e0f2fe, #d1d5db);
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    text-align: left;
    padding: 10px;
    background: #e0f2fe;
    border-bottom: 2px solid #4b5563;
    flex-shrink: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#style-links a {
    color: #1e40af;
}

footer {
    border-top: 2px solid #4b5563;
    text-align: center;
    padding: 10px;
}

main {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 1em;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px;
    background: rgba(229, 231, 235, 0.7);
    border-radius: 6px;
}

h1 {
    font-size: 24px;
    color: #4b5563;
    margin: 8px 0;
}

h2 {
    font-size: 18px;
    color: #4b5563;
    margin: 8px 0;
}

h3 {
    font-size: 14px;
    color: #4b5563;
    margin: 5px 0;
}

p {
    line-height: 1.5;
    color: #1e40af;
    margin: 5px 0;
}

.galeria {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
    max-height: 300px;
    overflow: hidden;
}

.zdj {
    background: rgba(229, 231, 235, 0.9);
    padding: 8px;
    border-radius: 6px;
    width: 120px;
}

.zdj img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}